{% extends "base.html" %}

{% block main_content %}

    <main>
        <p>
            Here's a selection of audio productions I've been cobbled together within the last 2 years.
            Music has always been my main passion and most ot
        </p>

        <section>
            <h1>Bleeding Heart Pigeons - EZ Love &lpar;An Eldritch Abomination remix&rpar;</h1>
            <p>
                The fantastic <i>Bleeding Heart Pigeons</i> asked me to be a part of their amazing 1-year-anniversary remix compilation for their album <i>Stir</i>.
                I was, and still am, extremely excited that I was asked as a huge fan of theirs for as long as I've been.
                The release ha been delayed short term for personal reasons, but until such a time as it's officially released you can hear it here exclusively.
            </p>
            <audio controls>
                <source src="content/audio/eldritch-ez-love.wav" type="audio/wav">
                Your browser does not support the audio element, so no sick beats for you unfortunately.
            </audio>
        </section>

        <section>
            <h1>Zissou x Julia Louise Knifefist - In The Club &lpar;An Eldritch Abomination remix&rpar;</h1>
            <p>
                One of the most fun pandemic lockdown releases out of Ireland was the collaborative <i>Fortune EP</i> by <i>Zissou</i> and <i>Julia Louise Knifefist</i>.
                I'm happy to call both of these artists friends, and getting to deconstruct and reconstructs one of their songs was a blast.
                You can hear it in it's originally mastered form here.
            </p>
            <audio controls>
                <source src="content/audio/eldritch-in-the-club.wav" type="audio/wav">
                Your browser does not support the audio element, so you can't wrap your ears around those beatitudes.
            </audio>
        </section>

        <section>
            <h1>Fairy House - Gimlet</h1>
            <p>
                This is from a recent writing session I did with fellow musician <i>Mark Kearney</i>.
                We tasked ourselves with outputting a song in a single afternoon and not using any digital instruments
                &lpar;processing, sampling and synthesising live recorded sounds was allowed the largest component&rpar;
            </p>
            <audio controls>
                <source src="content/audio/fairy-house-gimlet.wav" type="audio/wav">
                Do you hear that? Yeah, I don't either. I think it's because your browser does not support the audio element.
            </audio>
        </section>

    </main>








    <input
        type = "range"
        min = "1"
        max = "100"
        value = "0"
        class = "timeline"
        onchange = "seekTo()">
    

{% endblock %}