<!DOCTYPE HTML>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2b2b2b"/>

    <title>Graphics | Donagh Sugrue</title>
    
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="media/favicon.ico">
</head>

<body>
    <header>
        <a href="index.html">
            <img src="media/logoplaceholder.svg" alt="The company logo" title="Placeholder logo" id="logo">
        </a>

        <nav class="headnav">
            <ul class="headlist">
                <li class="headli"><a href="index.html">
                        Home
                    </a></li>
                <li class="headli"><a href="graphic.html" class="current">
                        Graphics
                    </a></li>
                <li class="headli"><a href="web.html">
                        Web
                    </a></li>
                <li class="headli"><a href="audio.html">
                        Audio
                    </a></li>
                <li class="headli"><a href="3d.html">
                        3D
                    </a></li>
                <li class="headli"><a href="contact.html">
                        Contact
                    </a></li>
            </ul>
        </nav>
    </header>

    <main>
        <p>Here are a collection of some of my favourite graphics that I've made, all edited between 2018 and 2021. All content is either Creative Commons or self created, unless otherwise stated.</p>

        <section>
            <h1>Garfield Merch</h1>
            <p>
                For Christmas this year, I've gotten my friends 1 off t-shirts of their musical projects but with the
                name of the project done as the garfield logo. Any further explanation is to give this idea more creedance than it deserves.
                All intellectual property for Garfield belong to Viacom, and have been edited in line with fair use.
            </p>

            <ul class="images">
                <li>
                    <a href="content/garfield/garfield_merch_aponym.png" target="_blank">
                        <img src="content/garfield/garfield_merch_aponym.png"
                            alt="A logo for musical project Aponym done to look the Garfield logo"
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/garfield/garfield_merch_bokotono.png" target="_blank">
                        <img src="content/garfield/garfield_merch_bokotono.png"
                            alt="A logo for musical project Bokotono done to look the Garfield logo"
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/garfield/garfield_merch_deadbog.png" target="_blank">
                        <img src="content/garfield/garfield_merch_deadbog.png"
                            alt="A logo for musical project Deadbog done to look the Garfield logo"
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/garfield/garfield_merch_fomorian_vein.png" target="_blank">
                        <img src="content/garfield/garfield_merch_fomorian_vein.png"
                            alt="A logo for musical project Fomorian Vein done to look the Garfield logo"
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/garfield/garfield_merch_jj_lee.png" target="_blank">
                        <img src="content/garfield/garfield_merch_jj_lee.png"
                            alt="A logo for musical project JJ Lee done to look the Garfield logo"
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/garfield/garfield_merch_an_eldritch_abomination.png" target="_blank">
                        <img src="content/garfield/garfield_merch_an_eldritch_abomination.png"
                            alt="A logo for musical project An Eldritch Abomination done to look like a bad 3D render of the Garfield logo"
                            title="Click to open in a new tab">
                    </a>
                </li>
            </ul>

        </section>

        <section>
            <h1>Messyng memes</h1>
            <h2>Pronounced: &apos;m&epsiv;s&imath;&eng;</h2>
            <p>
                It's quite easy to learn to edit digital photos when you have a driving motivating force behind you.
                In my case, my motivating force was trying to make my band mates laugh by editing our band name to look like the logos of some famous media franchises.
                I was unsuccessful in this endeavour most of the time, but it did make me quit proficient in Photoshop.
                All intellectual property rights belong to their respective owners, and have been edited in line with fair use, rights holders can be found by hovering over the photos.
            </p>

            <ul class="images">
                <li>
                    <a href="content/messyng_memes/messyng_saylor_moon.png" target="_blank">
                        <img src="content/messyng_memes/messyng_saylor_moon.png" class="messyng"
                            alt="A logo for comedy band Messyng depicting the band members as Sailor Moon characters."
                            title="Click to open in a new tab. Sailor Moon original characters belong to Toei Animation Co.">
                    </a>
                </li>
                <li>
                    <a href="content/messyng_memes/mes_mess_and_messyng.png" target="_blank">
                        <img src="content/messyng_memes/mes_mess_and_messyng.png" class="messyng"
                            alt="A logo for comedy band Messyng depicting the band members as Ed Edd And Eddy characters"
                            title="Click to open in a new tab. Ed, Edd & Eddy original characters belong to Cartoon Network.">
                    </a>
                </li>
                <li>
                    <a href="content/messyng_memes/messyng_actyon_man.png" target="_blank">
                        <img src="content/messyng_memes/messyng_actyon_man.png" class="messyng"
                            alt="A logo for comedy band Messyng based on the Action Man logo"
                            title="Click to open in a new tab. Action Man original logo belongs to Hasbro.">
                    </a>
                </li>
                <li>
                    <a href="content/messyng_memes/meanyes.png" target="_blank">
                        <img src="content/messyng_memes/meanyes.png" class="messyng"
                            alt="A logo for comedy band Messyng based on the brand logo for Meanies crisps"
                            title="Click to open in a new tab. Meanies original logo belong to Tayto Crisps.">
                    </a>
                </li>
                <li>
                    <a href="content/messyng_memes/messyng_amongys.png" target="_blank">
                        <img src="content/messyng_memes/messyng_amongys.png" class="messyng"
                            alt="A logo for comedy band Messyng depicting the band members as Among Us characters"
                            title="Click to open in a new tab. Among Us original characters belong to innersloth games.">
                    </a>
                </li>
                <li>
                    <a href="content/messyng_memes/messyng_call_cyrd.png" target="_blank">
                        <img src="content/messyng_memes/messyng_call_cyrd.png" class="messyng"
                        alt="A logo for comedy band Messyng based on Eircell Call Cards"
                        title="Click to open in a new tab. I would be very surprised if this design still belongs to anyone at this stage.">
                    </a>
                </li>
                <li>
                    <a href="content/messyng_memes/messyng_gamys_workshop.png" target="_blank">
                        <img src="content/messyng_memes/messyng_gamys_workshop.png" class="messyng"
                            alt="A logo for comedy band Messyng based on the Games Workshop logo"
                            title="Click to open in a new tab. Games Workshop original logo belongs to Games Workshop Group plc.">
                    </a>
                </li>
                <li>
                    <a href="content/messyng_memes/messyng_maryo_3d.png" target="_blank">
                        <img src="content/messyng_memes/messyng_maryo_3d.png" class="messyng"
                            alt="A logo for comedy band Messyng using Super Mario as a mascot"
                            title="Click to open in a new tab. Super Mario original character belongs to Nintendo.">
                    </a>
                </li>
                <li>
                    <a href="content/messyng_memes/messyng_messbusters.png" target="_blank">
                        <img src="content/messyng_memes/messyng_messbusters.png" class="messyng"
                            alt="A logo for comedy band Messyng based on the Ghostbusters logo"
                            title="Click to open in a new tab. Ghostbusters original logo belongs to Columbia Pictures.">
                    </a>
                </li>
                <li>
                    <a href="content/messyng_memes/messyng_mynecraft.png" target="_blank">
                        <img src="content/messyng_memes/messyng_mynecraft.png" class="messyng"
                            alt="A logo for comedy band Messyng depicting the band members as Minecraft characters"
                            title="Click to open in a new tab. Minecraft original logo and characters belongs to Mojang.">
                    </a>
                </li>
                <li>
                    <a href="content/messyng_memes/messyng_neon_genesys.png" target="_blank">
                        <img src="content/messyng_memes/messyng_neon_genesys.png" class="messyng"
                            alt="A logo for comedy band Messyng based on the Neon Genesis Evangelion logo"
                            title="Click to open in a new tab. Neon Genesis Evangelion original logo belongs to Toei Animation Co.">
                    </a>
                </li>
                <li>
                    <a href="content/messyng_memes/messyng_powerpuff_gyrls.png" target="_blank">
                        <img src="content/messyng_memes/messyng_powerpuff_gyrls.png" class="messyng"
                            alt="A logo for comedy band Messyng using The Powerpuff Girls as mascots"
                            title="Click to open in a new tab. Powerpuff Girls original characters belong to Warner Bros.">
                    </a>
                </li>
                <li>
                    <a href="content/messyng_memes/messyng_seynfeld.png" target="_blank">
                        <img src="content/messyng_memes/messyng_seynfeld.png" class="messyng"
                            alt="A logo for comedy band Messyng based on the Seinfeld logo"
                            title="Click to open in a new tab. Seinfeld original logo belongs to Castle Rock Entertainment.">
                    </a>
                </li>
                <li>
                    <a href="content/messyng_memes/messyng_sonyc.png" target="_blank">
                        <img src="content/messyng_memes/messyng_sonyc.png" class="messyng"
                            alt="A logo for comedy band Messyng using Sonic The Hedgehog as a mascot"
                            title="Click to open in a new tab. Sonic The Hedgehog original characters belong to SEGA.">
                    </a>
                </li>
            </ul>

        </section>

        <section>
            <h1>An Eldritch Abomination media</h1>
            <p>As a solo performer, I produce glitchy music to try and improve my production chops.
                If I am releasing something or performing, I tend to use the name An Eldritch Abomination in reference to the archetypal HP Lovecraft monster.
                Here are a variety of logos I've created myself and used as part of this project.
            </p>

            <ul class="images">
                <li>
                    <a href="content/eldritch/eldritch-1.png" target="_blank">
                        <img src="content/eldritch/eldritch-1.png"
                            alt="A logo for An Eldritch Abomination using the Ghouls & Goblins font from: https://www.dafont.com/ghouls-ghosts-and-goblins.font"
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/eldritch/eldritch-2.png" target="_blank">
                        <img src="content/eldritch/eldritch-2.png"
                            alt="A logo for An Eldritch Abomination using the Ghouls & Goblins font from: https://www.dafont.com/ghouls-ghosts-and-goblins.font"
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/eldritch/eldritch-3.png" target="_blank">
                        <img src="content/eldritch/eldritch-3.png"
                            alt="A logo for An Eldritch Abomination using the Glacier font from Glyphworld: https://fontsinuse.com/typefaces/125401/glyphworld-glacier"
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/eldritch/eldritch-4.png" target="_blank">
                        <img src="content/eldritch/eldritch-4.png"
                            alt="A logo for An Eldritch Abomination using the Pokémon Classic font from DaFont: https://www.dafont.com/pokemon-classic.font"
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/eldritch/eldritch-5.png" target="_blank">
                        <img src="content/eldritch/eldritch-5.png"
                            alt="A logo for An Eldritch Abomination using the Ruritania font from DaFont: https://www.dafont.com/ruritania.font"
                            title="Click to open in a new tab">
                    </a>
                </li>
            </ul>

        </section>

        <section>
            <h1>Teletext gig posters</h1>
            <p>
                Throughout 2018 and 2019, myself and some friends found ourselves getting requested to organise shows more frequently so decided to include it under a promotion company banner called Teletext Records.
                We used this as an opporunity to try and expand our multimedia skillset, mainly in Photoshop by learning to create posters ourselves.
                We went with a uniform design practice for these and created a series of posters inspired by direct-to-video VHS box art design - not all were used but they can be seen here regardless.
            </p>

            <ul class="images">
                <li>
                    <a href="content/teletext/teletext-1.png" target="_blank">
                        <img src="content/teletext/teletext-1.png"
                            alt="A concert poster for Donnie Willow, A Burial At Sea, Gilbert and Aerialist live in Plugd."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-2.png" target="_blank">
                        <img src="content/teletext/teletext-2.png"
                            alt="A concert poster for Aponym, Pretty Happy, and Deadbog live in The Kino."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-3.png" target="_blank">
                        <img src="content/teletext/teletext-3.png"
                            alt="A concert poster for Rokaia, Ant Byrne, and Laila Jedir live in Pharmacia."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-4.png" target="_blank">
                        <img src="content/teletext/teletext-4.png"
                            alt="A concert poster for Blue Whale, and The Great Balloon Race live in Plugd."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-5.png" target="_blank">
                        <img src="content/teletext/teletext-5.png"
                            alt="A concert poster for Cassavettes, Elaine Malone, and Pale Rivers live in Plugd."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-6.png" target="_blank">
                        <img src="content/teletext/teletext-6.png"
                            alt="A concert poster for Gilbert, and Dennis As A Landlord live in Plugd."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-7.png" target="_blank">
                        <img src="content/teletext/teletext-7.png"
                            alt="A concert poster for Buí, Laurie Shaw & The Prison Wives, and Any Joy live in The Poor Relation."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-8-a.png" target="_blank">
                        <img src="content/teletext/teletext-8-a.png"
                            alt="A concert poster for Tribal Dance, That Snaake, and Gilbert live in Pharmacia."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-8-b.png" target="_blank">
                        <img src="content/teletext/teletext-8-b.png"
                            alt="A concert poster for Tribal Dance, That Snaake, and Gilbert live in The Poor Relation."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-8-c.png" target="_blank">
                        <img src="content/teletext/teletext-8-c.png"
                            alt="A concert poster for Tribal Dance, That Snaake, and Gilbert live in The Sin É."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-8-z.png" target="_blank">
                        <img src="content/teletext/teletext-8-z.png"
                            alt="A tour poster for Tribal Dance, That Snaake, and Gilbert's Irish tour."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-9.png" target="_blank">
                        <img src="content/teletext/teletext-9.png"
                            alt="A concert poster for Gadget & The Cloud, Qwasi, An Eldritch Abomination, and Fomorian Vein live in The Sin É."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-10.png" target="_blank">
                        <img src="content/teletext/teletext-10.png"
                            alt="A concert poster for Bokotono, Cassavettes, Aponym and Selkies live in Fred Zeppelins."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-11.png" target="_blank">
                        <img src="content/teletext/teletext-11.png"
                            alt="A concert poster for A Burial At Sea, Gilbert, and An Eldritch Abomination live in Fred Zeppelins."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-12.png" target="_blank">
                        <img src="content/teletext/teletext-12.png"
                            alt="A concert poster for Van Panther, sunisadeadlylazer, and Electric Limes live in Plugd."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-13.png" target="_blank">
                        <img src="content/teletext/teletext-13.png"
                            alt="A concert poster for Shrug Life, Fonda and Trá Pháidín live in Plugd."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-14.png" target="_blank">
                        <img src="content/teletext/teletext-14.png"
                            alt="A concert poster for Surgeryhead, Lighght, Fomorian Vein, and An Eldritch Abomination live in Pharmacia."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-15.png" target="_blank">
                        <img src="content/teletext/teletext-15.png"
                            alt="A concert poster for His Father's Voice, Nerves, and Automatic Blue live in Plugd."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-16.png" target="_blank">
                        <img src="content/teletext/teletext-16.png"
                            alt="A concert poster for Cruiser, Actualacid, and Deadbog live in Plugd."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-17.png" target="_blank">
                        <img src="content/teletext/teletext-17.png"
                            alt="A concert poster for the Teletext Christmas party featuring Ghostking Is Dead, Bokotono, Hales Lake Hey Rusty, and Aponym live in Plugd."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-18.png" target="_blank">
                        <img src="content/teletext/teletext-18.png"
                            alt="A concert poster for T Boo, Julia Louise Knifefist, and Fomorian Vein live in Plugd."
                            title="Click to open in a new tab">
                    </a>
                </li>
                <li>
                    <a href="content/teletext/teletext-19.png" target="_blank">
                        <img src="content/teletext/teletext-19.png"
                            alt="A concert poster for the cancelled Junk Drawer, Robocobra Quartet, Olivia Furey, and Icebear show in Plugd."
                            title="Click to open in a new tab">
                    </a>
                </li>
            </ul>
        </section>
    </main>

    <footer>
        <nav>
            <a href="https://www.facebook.com/donaghsugrue" target="_blank">
                <figure>
                    <img src="media/facebook_clipart.png" class="logoLink">
                    <figcaption>
                        Facebook
                    </figcaption>
                </figure>
            </a>
            

            <a href="https://twitter.com/donaghsugrue" target="_blank">
                <figure>
                    <img src="media/twitter_clipart.png" class="logoLink">
                    <figcaption>
                        Twitter
                    </figcaption>    
                </figure>
            </a>
                    
            <a href="https://www.instagram.com/donaghsugrue/" target="_blank">
                <figure>
                    <img src="media/instagram_clipart.png" class="logoLink">
                    <figcaption>
                        Instagram
                    </figcaption>
                </figure>
            </a>
                        
            <a href="https://www.linkedin.com/in/donagh-sugrue-46b8397b/" target="_blank">
                <figure>
                    <img src="media/linkedin_clipart.png" class="logoLink">
                    <figcaption>
                        Linkedin
                    </figcaption>
                </figure>
            </a>

            <a href="mailto:donaghsugrue@gmail.com" target="_blank">
                <figure>
                    <img src="media/email_clipart.png" class="logoLink">
                    <figcaption>
                        Email
                    </figcaption>
                </figure>
            </a> 
        </nav>

        <small>
            &copy; 2021 Donagh Sugrue. All rights reserved.
        </small>
    </footer>
</body>

</html>