{% extends "base.html" %}

{% block main_content %}

    <main>

        <!-- Heading of video -->

        <!-- Short descriptor of video, outlining what involvement I had and what involvement I didn't -->

        <!-- VID£O -->



        <!-- <canvas width="512" height="320"></canvas> -->


        <script src="sketch.js" style = "border: solid 2px black"></script>



        <!-- webcam input -->
            <!-- if front facing -->
                <input type = "file" capture = "user" accept = "video/*">
            <!-- rear facing -->
                <input type = "file" capture = "environment" accept = "video/*">

    </main>

{% endblock %}