<!DOCTYPE HTML>
<!-- I'm aware that this page isn't directly linked from anywhere, and that my httpd.conf file is of no use given that the server is managed by ucc and not by myself.
I wanted to test myself to see if I could correctly build and validate these pages though so I have included them.-->

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#2b2b2b" />

    <title>PAGE NOT FOUND</title>

    <link rel="stylesheet" href="styles.css">
    <link rel="icon" type="image/x-icon" href="media/favicon.ico">
</head>

<body>
    <header>
        <a href="index.html">
            <img src="media/logoplaceholder.svg" alt="The company logo" title="Placeholder logo" id="logo">
        </a>

        <nav class="headnav">
            <ul class="headlist">
                <li class="headli"><a href="index.html" class="current">
                        Home
                    </a></li>
                <li class="headli"><a href="graphic.html">
                        Graphics
                    </a></li>
                <li class="headli"><a href="web.html">
                        Web
                    </a></li>
                <li class="headli"><a href="audio.html">
                        Audio
                    </a></li>
                <li class="headli"><a href="3d.html">
                        3D
                    </a></li>
                <li class="headli"><a href="contact.html">
                        Contact
                    </a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1>
            404
        </h1>
        <p id="sorry">
            Sorry chief, this page doesn't exist. Hit the below button to be brought back home.
        </p>
        <a href="index.html">
            <input type="button" value="Bring me home please!" id="bring_me_home">
        </a>
        <audio controls autoplay loop id="girl_from">
            <source src="media/Girl_From_Ipanema.wav" type="audio/wav">
            Imagine some elevator music here.
        </audio>
    </main>

    <footer>
        <nav>
            <a href="https://www.facebook.com/donaghsugrue" target="_blank">
                <figure>
                    <img src="media/facebook_clipart.png" class="logoLink">
                    <figcaption>
                        Facebook
                    </figcaption>
                </figure>
            </a>

            <a href="https://twitter.com/donaghsugrue" target="_blank">
                <figure>
                    <img src="media/twitter_clipart.png" class="logoLink">
                    <figcaption>
                        Twitter
                    </figcaption>
                </figure>
            </a>

            <a href="https://www.instagram.com/donaghsugrue/" target="_blank">
                <figure>
                    <img src="media/instagram_clipart.png" class="logoLink">
                    <figcaption>
                        Instagram
                    </figcaption>
                </figure>
            </a>

            <a href="https://www.linkedin.com/in/donagh-sugrue-46b8397b/" target="_blank">
                <figure>
                    <img src="media/linkedin_clipart.png" class="logoLink">
                    <figcaption>
                        Linkedin
                    </figcaption>
                </figure>
            </a>

            <a href="mailto:donaghsugrue@gmail.com" target="_blank">
                <figure>
                    <img src="media/email_clipart.png" class="logoLink">
                    <figcaption>
                        Email
                    </figcaption>
                </figure>
            </a>

        </nav>

        <small>
            &copy; 2021 Donagh Sugrue. All rights reserved.
        </small>

    </footer>
</body>

</html>