I was in the supermarket recently and I noticed what I consider to be some egregious bullshit.

The array of toilet paper selection is random and unhelpful.

With most products, alongside the pricing it specifies the cost per kg or cost per litre depending on the product you’re looking to purchase - but not with toilet paper. No, with toilet paper it lists the price per sheet.

But that’s not really helpful information to have, is it?

So, I’ve been trying to formulate the best way to choose toilet paper.

Ply -

Sheets -

# of rolls -

Width of rolls - 

Diameter of entire roll - This is a good way of gauging how many sheets are on each roll. This is going to vary pretty 

Diameter of cardboard tube - This is a fucking sneaky one. You think you’ve got a bargain and then BOOM you open the pack and you realise half the roll has been 


Just to run some of these numbers, let’s compare some rolls with a base price of a euro per roll for each


Just going to run through some examples from my last trip to the supermarket:

?????
Andrex - 4 ply, 24 rolls, 24€ or wever.

?????


Always remember - being a smarter consumer and sharing knowledge to make your peers smarter consumers stands to make the lives of companies that endeavour to pawn off shittier products significantly harder, and if we are being subjected to life under a “free” market then it’s in all our best interests to use that to leverage things to be better for ourselves. Even if that’s just through choosing the best value toilet paper - if you save a quid a week on TP, you’re ending the year €50 in the positive and I would prefer that €50 to be in your pocket than in the shit covered hands of Big Paper
